@inherits LayoutComponentBase
<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudLayout>

    <MudDrawer @bind-Open="@_openStart" Style="height:fit-content;" Anchor="Anchor.Start" Elevation="0" Variant="@DrawerVariant.Persistent">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">@Departs.Departsfirst</MudText>
        </MudDrawerHeader>
        <MudNavMenu Style="height:auto;max-height:none;">
            <MudNavLink Href="/AnalyticHome" Icon="">@Departs.Home @Departs.DepartsSecond</MudNavLink>
        </MudNavMenu>
    </MudDrawer>
    <MudDrawer Style="height:fit-content;" @bind-Open="@_openEnd"  Anchor="Anchor.End" Elevation="0" Variant="@DrawerVariant.Persistent">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">@Departs.DepartsSecond</MudText>
        </MudDrawerHeader>
       <NavMenu/>
    </MudDrawer>
    <div class="d-flex justify-center align-center mud-height-full">
        <MudButton Color="Color.Inherit" OnClick="@ToggleStartDrawer" StartIcon="@(Rtl ? Icons.Material.Filled.East :
                                                                      Icons.Material.Filled.West)" Class="mx-2">@verbs.chooshe @Departs.deps @Departs.Departsfirst1</MudButton>
        <MudButton Color="Color.Inherit" OnClick="@ToggleEndDrawer" EndIcon="@(Rtl ? Icons.Material.Filled.West :
                                                                    Icons.Material.Filled.East)" Class="mx-2">@verbs.chooshe @Departs.deps @Departs.DepartsSecond</MudButton>
    </div>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.ExtraLarge" >
            @Body
        </MudContainer>
    </MudMainContent>


</MudLayout>

@code
{
    private bool _openStart = false;
    private bool _openEnd = false;

    [CascadingParameter]
    public bool Rtl { get; set; }

    private void ToggleStartDrawer()
    {
        _openStart = !_openStart;
    }

    private void ToggleEndDrawer()
    {
        _openEnd = !_openEnd;
    }
}


